
/*
/*/
*.log
!/.gitignore
!/data-raw/
!/DESCRIPTION
!/inst/
!/LICENSE.md
!/man/
!NAMESPACE
!/R/
!/README.md
!/tests/
/tests/testthat/test_settings_use.yml
/tests/testthat/testdata/
/.Rhistory
/*.Rproj
/.Rproj*
/.RData
.~lock.*.csv#
.Rproj.user
/!*.Rproj
